body {
    background-color: #283618;
    margin: 0px;
    font-family: 'Golos Text', sans-serif;
    display: grid;
    grid-template-columns: 2fr 8fr;
    grid-template-rows: 3fr 1fr;
    height: 100vh;
    color: #fefae0;
}

a:link {
    color: #fefae0;
    text-decoration: none;
}

a:visited {
    color: #ffb703;
    text-decoration: none;
}

a:hover {
    cursor: pointer;
}

button {
    border: none;
    border-radius: 10%;
    padding: 0.5rem;
    background-color: #fefae0;
    font-size: 1rem;
    font-weight: bold;
}

button:hover {
    cursor: pointer;
}

#cancel_button:hover {
    background-color: red;
}


.take_note_section {
    grid-row-start: 2;
}

.main_a {
    display: flex;
    justify-content: flex-end;
    gap: 1%;
    margin-bottom: 1.5%;
}

.above_button {
    display: flex;
    justify-content: space-between;
    margin-bottom: 1.5%;
}

.bottom_button {
    display: flex;
    margin-top: 1.5%;
    gap: 1%;
    justify-content: flex-end;
}

header {
    position: fixed;
    left: 0px;
    color: #000;
    width: 20%;
    height: 100%;
    padding-top: 2%;
    background-color: #fefae0;
}

h1 {
    text-align: center;
    margin: 0px;
}

main {
    padding-top: 2%;
    grid-column-start: 2;
    display: grid;
    grid-template-rows: 1fr 3fr;
    margin-left: 2.5%;
    margin-right: 2.5%;
}

footer {
    text-align: center;
    grid-column-start: 2;
    grid-row-start: 2;
    margin-top: 10%;
}

footer h1 {
    margin-bottom: 2%;
    font-size: 1.5rem;
}

footer a img {
    width: 2rem;
}

main textarea {
    width: 99.5%;
    height: 50%;
    font-size: 1.5rem;

}

@media screen and (max-width: 480px) {
    body {
        grid-template-columns: 1fr;
        grid-template-rows: 0.8fr 3fr 1fr;
    }

    header {
        position: fixed;
        width: 100%;
        height: 15%;
    }

    main {
        margin-top: 0;
        grid-column-start: 0;
        grid-row-start: 2;
    }

    footer {
        grid-column-start: 2;
        grid-row-start: 3;
        margin-top: 10%;
    }

}

.dark_mode_body {
    background-color: #222323;
    color: #DDDDDD;
}

.dark_mode_sidebar {
    background-color: #3D3E3E;
    color: #DDDDDD;
}
